@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>FAQ</h2>
<ul class="faq">
    <li>
        <p>So, what's the deal here?</p>
        <p>
            <strong>Firetea.ms</strong> is a free Destiny matchmaking service built to fill in the gaps that currently exist within the game itself
            (i.e. Nightfall and Raids). It's designed to quickly match Guardians together, without the wait of alternative methods.
        </p>
        <p>
            Like many others, I was disappointed by Bungie's decision not to include matchmaking for some of the more difficult activities.
            While the ideal of playing with people you know and work with well is nice, the reality is that not everyone has enough friends
            on the same platform to raid with. So, Guardians had to resort to posting personals ads on community destinations such as the
            <a href="https://www.bungie.net/en/Forum/Topics/0/Default/None/Recruitment">Bungie.net Forums</a> and Reddit's
            <a href="http://reddit.com/r/fireteams">/r/fireteams</a>, hoping to find other Guardians who also needed help filling out their fireteam.
        </p>
        <p>
            And that has worked out well enough so far. But, I figured why not streamline the process, make it so that you can find people who are ready
            to fight <em>right now</em>, without the hassle of writing an ad and then waiting for enough responses first.
        </p>
    </li>
    <li>
        <p>How does this compare to in-game matchmaking?</p>
        <p>
            Poorly, I'm sure. The reality is that Bungie has:
            <ol>
                <li>A ton more experience building arguably the best matchmaking systems in gaming.</li>
                <li>Access to way more data, such as specific geolocation data/ping times, player feedback/reputation, and other metrics I haven't even thought of.</li>
            </ol>
            <strong>Firetea.ms</strong> simply cannot compare to that. Plus, you still have to perform the manual labor of actually meeting up in-game.
        </p>
        <p>
            But, it should be at least as good as, if not outright better than, other out-of-game matchmaking options. The more people who use it, the better
            the results will be.
        </p>
    </li>
    <li>
        <p>How beta is this?</p>
        <p>
            On a scale of beta-only-in-name to Halo-MCC-at-release, I'm hoping this is as far away from the latter as possible. However, there is
            only so much testing I can do alone, and I'm sure there will be growing pains. But I'll keep on eye on things and make improvements as time goes on.
        </p>
    </li>
    <li>
        <p>Why aren't there level options for the Daily and Weekly Heroics?</p>
        <p>
            Because, honestly, I don't think there's much of a demand or need for them. Most Guardians can handle level 28 activities in a group, especially
            now that Bungie has flattened the difficulty curve based on group sizes. However, if you're a relatively low-level Guardian and you're matched with similarly
            leveled Guardians, feel free to discuss choosing a lower difficulty with them in-game.
        </p>
        <p>
            And, hey, if I'm proven wrong and there is a demand, I can always add support later.
        </p>
    </li>
    <li>
        <p>Do you have a Privacy Policy or Terms of Service?</p>
        <p>
            Privacy policy is pretty simple: I only store submitted data for as long as you're connected to the server. Once you find a match or otherwise
            disconnect, it gets deleted. Plain and simple. I don't even have any logging set up for that stuff either; I don't really see a need at the moment.
        </p>
        <p>
            Terms of Service, umm, don't lie when searching for a match? Or karma will make you stub your toe or something.
        </p>
    </li>
    <li>
        <p>Who built this?</p>
        <p>
            <a href="http://spencerhakim.com/">Spencer Hakim</a>, a Titan Striker from New York City.
        </p>
    </li>
    <li>
        <p>What technology is behind this? Is it open-source?</p>
        <p>
            Sorry, not open-source at the moment. However, if you're interested in building mobile apps for Android/iOS, <a href="http://spencerhakim.com/contact/">contact me</a> and I'll get you the info you need.
        </p>
        <p>
            <strong>Firetea.ms</strong> is built in C# with SignalR for client-server communication, a NoSQL datastore, and the usual combo of Bootstrap + jQuery on the front-end.
        </p>
    </li>
</ul>
