@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Help</h2>
<h4>On a computer:</h4>
<ul class="help">
    <li>
        Make sure you're using an up-to-date and modern browser (even the lastest Internet Explorer isn't the worst).
        Visit <a href="http://browsehappy.com">BrowseHappy.com</a> to explore your options.
    </li>
    <li>Check if any of your browser extensions or add-ons are preventing <strong>Firetea.ms</strong> from functioning correctly.</li>
</ul>

<h4>On a phone or tablet:</h4>
<ul class="help">
    <li>Make sure you're using the lastest OS and browser software available for your device.</li>
    <li>Try to use a strong Wi-Fi connection. Mobile data connections simply aren't as reliable.</li>
    <li>
        Make sure you keep the page visible and the screen on, otherwise you'll probably be disconnected.<br />
        <em>In the future, mobile apps may be developed which won't have this issue. We'll see what happens.</em>
    </li>
</ul>
