@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>JavaScript Required</h2>
<h4>
    <p>
        You will need to enable JavaScript (or use a browser that supports JavaScript) to use <strong>Firetea.ms</strong>.
        If you need assistance finding a compatible browser, please visit <a href="http://browsehappy.com/">BrowserHappy.com</a> to upgrade today.
    </p>
</h4>