@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Unsupported browser</h2>
<h4>
    <p>
        Sorry, your browser is outdated or otherwise unsupported. Please visit <a href="http://browsehappy.com">BrowseHappy.com</a>
        to find an alternative and supported browser.
    </p>
</h4>
